*{
    font-family: "Quicksand", sans-serif;
}

/*------------------ The side navigation menu ---------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000000000;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(48, 157, 177, 1),rgba(48, 157, 177, 1),rgba(48, 157, 177, 0.8),rgba(48, 157, 177, 0.6),rgba(48, 157, 177, 0.4),rgba(48, 157, 177, 0.2));
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #272626;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.fa-bars {
    position: fixed;
    top: 0;
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav a i{
    float: right;
    margin-right: 10%;
}

#main {
    transition: margin-left .5s;
    position: relative;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.compte{
    position: fixed;
    right: 1rem;
    top:0.4rem;
}
.compte img{
    height: 3.5rem;
}
.backhome{
    position: fixed;
    right: 10rem;
    top:0.4rem;
}
.backhome img{
    height: 3.5rem;
}
/*-------------------- Style de la page -----------------------*/
body {
    background: url(../images/45.png);
    background-size: 100% 100%;
    background-attachment: fixed;

}

.page {
    background-color: white;
    height: 80rem;
    margin-left: 6%;
    margin-right: 17rem;
    border-radius: 1%;
    box-shadow: 10px 5px 5px 15px white;
    opacity: 0.9;
    margin-top: 5rem;
}

/*------------------ Articles ---------------------*/
.header_art{
    text-align: center;
    font-size: 5rem;
    font-family: "Aclonica", cursive;
    background: -webkit-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.art-img{
    height: 7em;
}
.article{
    margin: 1%;
    display: inline-flex;
    width: 98%;
    background: linear-gradient(120deg, #e4b271,#eebb77,#e0b57d)
}
.article p{
    margin-left: 3%; 
}







/*------------------ API et autres -----------------------*/

.marquee {
    width: 62rem;
    line-height: 0, 1px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 6rem;
    background: rgba(238, 135, 94, 0.1);
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.api {
    position: fixed;
    right: 0.5rem;
    top: 4.5rem;
    opacity: 0.9;
}
