/*------------------ The side navigation menu ---------------------*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255,255,240,1), rgba(255, 153, 0, 1), rgba(255,69,0,1), rgba(255,0,0,1), rgba(50,0,0,1), rgba(0,0,0,1)) ; /* Black*/
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #272626;
    display: block;
    transition: 0.3s;
  }
  a i{
      float:right;
      margin-right: 10%;
  }
  span{
      display: inline-block;
  }
  

span {
    margin-right: 30%;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
    
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*-------------------- Style de la page -----------------------*/
body{
    background: url(../images/back.png)
}
.page{
    background-color: white;
    height: 80rem;
    margin-left: 10%;
    margin-right: 20%;
    border-radius: 5%;
    box-shadow:10px 5px 5px 15px white;
    opacity: 0.5;
    margin-top: 5%;
}

/*------------------ API et autres -----------------------*/

.marquee {
    width:75rem;
	line-height: 0,1px;
	color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
left: 5rem;
background: rgba(255,255,240,0.1)
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.api{
    position: absolute;
    right:0.5rem;
    top:4rem;
    opacity: 0.9;
}
.header{
    position: absolute;
    top: 0;
}
.menu-button{

}